@mixin fontColorDefault {
  color: var(--font-color) !important;
}

@mixin fontColorSecondary {
  color: var(--font-color-secondary) !important;
}

@mixin fontColorInverse {
  color: var(--font-color-inverse) !important;
}

@mixin container() {
  max-width: 1240px;
}

@mixin containerContent() {
  max-width: 1800px;
}
