.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0;

  &__error,
  &__no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--font-color-secondary);
  }

  img {
    height: 240px;
    opacity: 2.8;
  }
}

@media (max-width: 768px) {
  .empty-state {
    padding: 2.5rem 0;

    p {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    img {
      height: 160px;
    }
  }
}
