.alerts {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__item-title {
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__item-date {
    font-size: 0.875rem;
    color: var(--text-color-secondary);
  }

  &__item-description {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.card {
  width: 100%;
  padding: 1rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border: 2px solid;
  border-radius: 1rem;
  box-shadow: 0 4px 12px;

  &--normal {
    border-color: #4CAF50;
    box-shadow: 0 4px 12px #4CAF5033;

    .alerts__icon {
      color: #4CAF50;
    }
  }

  &--alert {
    border-color: #FFC107;
    box-shadow: 0 4px 12px #FFC10733;

    .alerts__icon {
      color: #FFC107;
    }
  }

  &--flood {
    border-color: #FF9800;
    box-shadow: 0 4px 12px #FF980033;

    .alerts__icon {
      color: #FF9800;
    }
  }

  &--extreme {
    border-color: #F44336;
    box-shadow: 0 4px 12px #F4433633;

    .alerts__icon {
      color: #F44336;
    }
  }
}
