<section class="select-locale">
  <span class="select-locale__title">Selecione seu endereço</span>

  <form class="select-locale__form">
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select [value]="stateId()" (valueChange)="onStateChange($event)">
        @for (state of states(); track state) {
          <mat-option [value]="state.value">
            {{ state.viewValue }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" [class.disabled]="!stateId() || cities().length === 0">
      <mat-label>Cidade</mat-label>
      <mat-select
        [value]="cityId()"
        (valueChange)="onCityChange($event)"
        [disabled]="!stateId() || cities().length === 0"
      >
        @for (city of cities(); track city) {
          <mat-option [value]="city.value" [disabled]="!city.active">
            {{ city.viewValue }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [class.disabled]="!cityId() || locationPoints().length === 0"
    >
      <mat-label>Bairro</mat-label>
      <mat-select
        [value]="locationPointId()"
        (valueChange)="onLocationPointChange($event)"
        [disabled]="!cityId() || locationPoints().length === 0"
      >
        @for (locationPoint of locationPoints(); track locationPoint) {
          <mat-option [value]="locationPoint.value" [disabled]="!locationPoint.active">
            {{ locationPoint.viewValue }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button
      class="confirm-button"
      (click)="onSubmit()"
      [disabled]="!stateId() || !cityId() || !locationPointId()"
      [class.disabled]="!stateId() || !cityId() || !locationPointId()"
    >
      <mat-icon>check</mat-icon>
      Confirmar
    </button>
  </form>
</section>
