<mat-toolbar class="toolbar" [class.toolbar--mobile]="isMobile | async">
  <div class="toolbar__top" [class.toolbar__top--mobile]="isMobile | async">
    <h1 class="toolbar__logo">Monitora Hidro</h1>

    @if (!(isMobile | async)) {
      <div class="toolbar__modes">
        <button
          matMiniFab
          aria-label="Button of set the theme from application"
          (click)="onChangeTheme()"
        >
          <mat-icon>{{ icon() }}</mat-icon>
        </button>

        <button
          matMiniFab
          aria-label="Button of set the contrast from application"
          (click)="onChangeContrast()"
        >
          <mat-icon [class.contrast-active]="contrastActive()">brightness_6</mat-icon>
        </button>
      </div>
    }

    @if (isMobile | async) {
      <button
        matMiniFab
        aria-label="Button of set the theme from application"
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    }
  </div>

  @if (!(isMobile | async)) {
    <div class="toolbar__buttons">
      <button class="toolbar__button" matButton (click)="onHomeClick()">Início</button>
      <button class="toolbar__button" matButton (click)="onHistoryClick()">Histórico</button>
      <button class="toolbar__button" matButton (click)="onAlertsClick()">Alertas</button>
      <button class="toolbar__button" matButton (click)="onNewsClick()">Notícias</button>
      <button class="toolbar__button" matButton (click)="onUsefulLinksClick()">Links Úteis</button>
      <button class="toolbar__button" matButton (click)="onAboutClick()">Sobre</button>
    </div>
  }
</mat-toolbar>

<mat-sidenav-container
  class="toolbar-sidenav-container"
  [class.toolbar-sidenav-container--mobile]="isMobile | async"
>
  <mat-sidenav
    #sidenav
    mode="over"
    position="end"
    [(opened)]="sidenavOpened"
    (closed)="sidenavOpened.set(false)"
  >
    <mat-nav-list>
      <a mat-list-item (click)="onHomeClick()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Início</span>
      </a>
      <a mat-list-item (click)="onHistoryClick()">
        <mat-icon matListItemIcon>history</mat-icon>
        <span matListItemTitle>Histórico</span>
      </a>
      <a mat-list-item (click)="onAlertsClick()">
        <mat-icon matListItemIcon>warning</mat-icon>
        <span matListItemTitle>Alertas</span>
      </a>
      <a mat-list-item (click)="onNewsClick()">
        <mat-icon matListItemIcon>article</mat-icon>
        <span matListItemTitle>Notícias</span>
      </a>
      <a mat-list-item (click)="onUsefulLinksClick()">
        <mat-icon matListItemIcon>link</mat-icon>
        <span matListItemTitle>Links Úteis</span>
      </a>
      <a mat-list-item (click)="onAboutClick()">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>Sobre</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="onChangeTheme()">
        <mat-icon matListItemIcon>{{ icon() }}</mat-icon>
        <span matListItemTitle>Tema</span>
      </a>
      <a mat-list-item (click)="onChangeContrast()">
        <mat-icon matListItemIcon>brightness_6</mat-icon>
        <span matListItemTitle>Contraste</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="toolbar-sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
