.home {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__info {
    font-size: 1rem;
  }

  &__measurement {
    font-size: 3rem;
  }

  &__last-update {
    width: 100%;
    text-align: end;
    font-size: 0.75rem;
  }
}

.card {
  width: 100%;
  padding: 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--border-color-blue-light);
  border-radius: 1rem;
  box-shadow: 0 4px 12px var(--border-color-blue-light);
}
